html {
	box-sizing: border-box;
	height: 100%;

}

*,
*::before;
*::after{
	box-sizing: inherit;
	margin:0;
	padding:0;

}

.container {
	display: flex;
	justify-content: center;
	background-color:#262626;

}
.thumbnails{
	display: flex;
	flex-direction: column;
	line-height:0; 
}

.thumbnails li{
	flex: auto;
}

.thumbnails a{
	display: block;

}

.thumbnails img{
	width: 30vmin;
	height: 20vmin;
	object-fit: cover;
	object-position: top;
}

.slides{
	overflow: hidden;
	width: 150vmin;
	height: 150vmin;
}

.slides li{
	width: 80vmin;
	height: 100vmin;
	position: absolute;
	z-index: 1;
	list-style-type: none;

}

.slides img{
	height: 50vmin;
	object-fit: cover;
	object-position: top; 
}

.slides li:target{
	z-index: 3;
	animation: slide 1s 1;

}

.slides li:not(:target){
	animation: hidden 1s 1;

}

@keyframes slides{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0%);
	}
}

@keyframes hidden{
	0%{
		z-index: 2;
	}
	100%{
		z-index: 2;
	}
}


