*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}

header{

	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../6.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px; 

}

ul li{

	display: inline-block;
}
ul li a{
	text-decoration: none;
	color:#fff;
	padding: 6px 10px;
	border: 1px solid transparent;
	transition: 0.5s ease;
}

ul li a:hover{
	background-color: limegreen;
	color: black; 
}

ul li.active a{
	background-color: limegreen;
	color: black; 
}
.logo img{
	float: left;
	width: 200px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.MARQUEE{
	webkit-marquee: auto medium infinite scroll normal;
}